/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: "Noto Sans TC", sans-serif;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
    
}
.container .header{
    display: flex;
    max-width: 1920px;   
    padding-top: 28px;
    padding-bottom: 28px; 
    padding-left: 10%; 
}

.header .Noel{
    width: 90px;
    height: 40px;
    margin-right: 23%;
    display: block;
}
.container .header ul{
   display: flex;
}

.container .header ul li{
    display: block;
    padding-top: 10px;
    margin-right: 40px;
 }
.container .header ul li a{

    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: Noto Sans;
 }

 .hamburger_menu{
    display: none;
}


 @media (max-width: 992px) {

    
    .container .header{
        display: flex; 
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px; 
        padding-bottom: 8px; 
        justify-content: space-between;
    }

  
    .menu{
        display: none;
        width: 0;
    }
 
    .hamburger_menu{
        margin-right: 0;
        display: block;
    }
}

 .title{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-bottom: 100px; 
    background-color: #FAFAFA;

 }

 .slogan{
    width:660px;
    margin-bottom: 20px;  
    line-height: 1.5;

 }
 .focus img{
    position: absolute;
    top:24px;
    right: 50px;
 }

 .focus_1 img{
    position: absolute;
    top:62px;
    right:70px;
 }

 .slogan_content
 { 
    text-align: center;
    margin-top: 0px; 
    margin-bottom: 0px;   
    position: relative;
    top:-20px;
    
 }


 .slogan_content p{
    font-size: 24px; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    
 }
 .quote_left{
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;

 }
 .quote_right{
    margin-left: 90%;
    margin-bottom: 0px;
    display: block;
    position: relative;
    top:-30px;
 }

 @media (max-width: 992px) {

    .slogan{
        width:320px;
        margin-bottom: 20px;  
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
     }
    
     .slogan_p2
     {
        width:330px;
     }

     .slogan_content
     {
        margin-left: 0px; 
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    
     }

     .slogan_content p
     {
        margin-bottom: 15px; 
        
     }

     .quote_left{
        margin-left: 0px;
        margin-bottom: 20px;
    
     }
     .quote_right{
        display: none;
     }

     .focus img{
        position: absolute;
        top:64px;
        right: 60px;
       

     }
    
     .focus_1 img{
        position: absolute;
        top:150px;
        right: 60px;
   
     }
    
 }

 .service{
    display: flex;
    background-color: #FAFAFA;
 }
 .service_2b{
    width:300px;
    text-align: center;
    margin-right: 50px;
 }
 .service_2b h1{
    margin-bottom: 3px;
    color: #5B5B5B
    
 }
 .service_2b p{
    font-weight: 400;
    font-family: Noto Sans;
    line-height: 24px;
 }

 .service_2c p{
    font-weight: 400;
    font-family: Noto Sans;
    line-height: 24px;
 }

 .border_1{

    border-bottom: 2px solid #c1c1c1;
    margin-bottom: 12px;
    width: 25px;
    margin: 0 auto;
    margin-bottom: 10px;
 }

.service_2c{
    width:300px;
    text-align: center;
 }
 
.service_2c h1{
    margin-bottom: 3px;
    color: #5B5B5B
 }
 @media (max-width: 992px) {

    .service{
        display: flex;
        display: wrap;
        flex-direction: column;
    }
    .service_2b
    {
        width:300px;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 30px;
        
    }

    .service_2b h1{
        margin-bottom: 3px;
        color: #5B5B5B;
        font-size: 20px;
    }

    .service_2b p{
        font-size: 20px;
    }
     
    .service_2c h1{
        margin-bottom: 3px;
        color: #5B5B5B;
        font-size: 20px;
    }

    .service_2c p{
        font-size: 20px;
    }
     
 }   

.content{
   line-height: 1.2;
   margin: 0 auto;
   margin-bottom: 100px;
   width: 80%;
   background-color: white;
}
.item-group{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
    justify-content: space-between;
}


.item{ 
    margin-bottom:80px; 
    width: 49%;
}

@media (max-width: 992px) {

    .content{
        line-height: 1.2;
        margin: 0 auto;
        margin-bottom: 100px;
        width: 95%;
        background-color: white;
     }

    .item-group{
        display: flex;
        flex-direction: column;
        margin-bottom: 3px;
    }

    .item{ 
        margin-bottom:80px; 
        width: 100%;
    }
}


.item ul{
    padding-left: 16px;
    display: flex;
}
.item h2 a{
    padding-left:16px;
    display: block;
    font-size:28px;
    color:#000;
    font-weight: bold;
    text-decoration:none;
    margin-bottom:8px;
}

.item h3{
    padding-left:16px;
    font-size:16px;
    color:gray;
    margin-bottom:24px;
}

.item img{
    width: 100%;
    height: a;
    border-radius: 8px;
    margin-bottom: 16px;
    display: block;
}

.item ul li a{  
    background:#F1F1F1;
    color:#3B3B3B;
    text-decoration:none;
    margin-right: 16px;
    padding: 4px 12px;
    border-radius: 16px;
}


.page_idx{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_idx li{
    margin-right: 30px; 
 
}

.page_idx .current_page li a{
    color:  white;
}


.page_idx li a{
    font-size:24px;
    text-decoration:none;

}

.current_page{
    border-radius: 4px;
    padding : 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    color:blue;
    background: black;
}
.page_idx .current_page a{
    color: white;
    font-size:24px;
    text-decoration:none;

}

.footer{
    display: flex; 
    padding-left: 140px;
    padding-right: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../IMG/footer-bg-lg.png);
}


@media (max-width: 992px) {
    .footer{
        background-image: url(../IMG/footer-bg-sm.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}    

.footer_content{
    display: block;
    width: 686px;
    line-height: 1.5;
    padding-top: 100px;
    margin-right: 200px;
}

@media (max-width: 992px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer_content{
        width: auto;
        line-height: 1.5;
        padding-top: 100px;
        padding-right: 25px;
        margin-right:0px;
    }
}
.link_hexo{
    color: gray;
    margin-top: 20px
}

.footer_content img{
    width: 120px;
    height: 54px;
    margin-bottom: 20px
}

.footer_content p{
    font-size: 18px;
}

.footer_menu{   
    padding-top: 65px;
    width: 306px;

}

.footer_menu .menu_item1{
    border: 2px solid black;
    display: flex;
    align-items: center;;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    background-color: black;
    border-radius: 8px;
    font-size:18px;
    margin-bottom: 20px;
    color: white;
    width: 260px;
}

.footer_menu .menu_item2{
    display: flex;
    align-items: center;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 8px;
    font-size:18px;
    margin-bottom: 20px;
    width: 260px;
}
.footer_menu .menu_item3{
    display: flex;
    align-items: center;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 8px;
    font-size:18px;
    width: 260px;
}